<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<title>Admin</title>

	
<body style="background-image:url(http://i67.tinypic.com/ojdt1w.jpg); height: 1200px; font-family: Century Gothic;">

<div class="container-fluid" >
  <font size="16pt"> Administrator</font>
  <br>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/faculty/list">FACULTY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/student/list">STUDENT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/class/list">CLASS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/committee">COMMITTEE</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        ACCOUNT
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/faculty">Login as Faculty</a>
        <a class="dropdown-item" href="/logout">Log-out</a>
      </div>
    </li>
  </ul>
</nav>

<div class="container-fluid"><br>

    {{{body}}}
</div>
</body>
</html>