<div style="background-color: white" >
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
      <ul class="navbar-nav mr-auto pb-0">
            <li>
              &nbsp;
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/Faculty/Regular/Home"><p font="Tekton Pro">Home</p><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/facultyclasses"><p font="Tekton Pro">Classes</p><span class="sr-only">(current)</span></a>
          </li>
    </nav>
</div>
<center>
<br><br>
<form>
  <input type="submit" value="All Classes">
</form>
<br><br>
<form>
  <input type="submit" value="MY Classes">
</form>
</center>