  <title>THESIS MANAGEMENT</title>
</head>
<body style="background-image:url(http://i65.tinypic.com/21l9aq0.jpg); height: 1200px; font-family: Century Gothic;">

<br><br>
<br><br><br>
<div class="wrapper" align="center">
  <div class="col-sm-6 border border-primary rounded p-5 m-5">
    {{#if error}}
              <div class="alert alert-danger">
                <p>{{error}}</p>
              </div>
            {{/if}}
      <table width="100%">
        <form action="/login" method="post">
        <thead align="center">
          <tr class="bgcolor-info"><th colspan="2"><h3> LOGIN<br></h3><br> </th></tr>
        </thead>
        <tbody>
          <tr><td width="30%">Email Address:</td>
              <td width="70%"><input type="text" class="form-control input" name="username"></td></tr>
          <tr><td>Password:</td>
              <td><input type="password" class="form-control input" name="password"></td></tr>
          <tr><td colspan="2"><br>
              <center><input type="submit" class="btn btn-info" name="" value="Login"></center>
            </td></tr>
        </tbody>
      </form>
      </table>


  </div>
  </div>
</div>