<center>
<form method="Post">
  <br><br><br><br><br><br><br>
  <label>Username:</label><br>
  <input type="text" name="username"><br><br>
  <label>Password:</label><br>
  <input type="password" name="password"><br><br>
  <button>Login</button>
</form>
</center>