<center>
<form method="post" action="registudent">
  <label>First Name:</label><br>
  <input type="text" name="firstname" required=""><br><br>

  <label>Last Name:</label><br>
  <input type="text" name="lastname" required=""><br><br>

  <label>Username:</label><br>
  <input type="text" name="username" required=""><br><br>

  <label>Password:</label><br>
  <input type="password" name="password1" required=""><br><br>

  <label>Confirm password:</label><br>
  <input type="password" name="password2" required=""><br><br>

  <label>Student Number:</label><br>
   <input type="text" name="studentnumber" required=""><br><br>  
  <input type="submit" value="Register">
</form>
</center>