<center>
<form method="POST" action="regifaculty">
  <label>First Name:</label><br>
  <input type="text" name="firstname"><br><br>

  <label>Last Name:</label><br>
  <input type="text" name="lastname"><br><br>

  <label>Username:</label><br>
  <input type="text" name="username"><br><br>

  <label>Password:</label><br>
  <input type="Password" name="password1"><br><br>

  <label>Confirm password:</label><br>
  <input type="password" name="password2"><br><br>

    <label>Privelege:</label><br>
  <select name="isadmin">
    <option value="admin">Admin</option>
    <option value="regular">Regular</option>
  </select><br><br>

  <input type="submit" value="Register">
</form>
</center>
